{% extends 'base.html' %}

{% block current %}
Home Page
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col"><h1><a style="display: block;text-decoration: none; color: black" href="{% url 'doctors' %}">Find Local Doctors</a></h1></div>
    <div class="col"><h1><a style="text-decoration: none; color: black" href="{% url 'doctors' %}">NGO's</a></h1></div>
    <div class="w-100"></div>
    <div class="col"><h1><a style="text-decoration: none; color: black" href="{% url 'doctors' %}">Calendar</a></h1></div>
    <div class="col"><h1><a style="text-decoration: none; color: black" href="{% url 'doctors' %}">Suggestions</a></h1></div>
  </div>



{% endblock %}